* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.input_video {
  border: 3px solid black;
}

.output_canvas {
  border: 3px solid springgreen;
}
.output_canvas {
  border: 3px solid #00ff00;
}
.output_canvas {
  border: 3px solid #ff0000;
}

/* #degreeAngle {
  border: 3px solid skyblue;
} */
