* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.input_video {
  border: 3px solid black;
}

.output_canvas {
  border: 3px solid springgreen;
}
.output_canvas {
  border: 3px solid #00FF00;
}
.output_canvas {
  border: 3px solid #FF0000;
}

